{% extends 'SistemaAudios/plantilla.html' %}

{% block title %}Mis recursos{% endblock %}

{% block content %}
<h1 class="display-6 pt-1"> Mis recursos</h1>
{% if recurso_lists %}
<div class="d-flex justify-content-center mt-4">
    <div class="list-group align-self-center flex-grow-1 pe-5">
        {% for recurso in recurso_lists %}
        <a href="{% url 'actualizar' recurso.pk %}"
            class="list-group-item list-group-item-action">
            {{ recurso.nombre }}&nbsp;&nbsp;&nbsp;&nbsp;{{ recurso.descripcion }}
            &nbsp;&nbsp;&nbsp;&nbsp;{{ recurso.categoria  }}
        </a>
        {% endfor %}
    </div>
</div>
<a href="{% url 'crear' %}" class="btn btn-link mx-2">Nuevo recurso</a>
{% else %}
<p class="display-6""> No tiene recursos a&uacute;n.</p>
{% endif %}
{% endblock %}
